[Unit]
Description=My Gogs Git Server (Docker)
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker volume create gogs-data
ExecStartPre=-/usr/bin/docker rm -f gogs
ExecStart=/usr/bin/docker run \
  --name gogs \
  -v gogs-data:/data \
  -p 10880:10880 \
  -p 10022:10022 \
  gogs/gogs
ExecStop=/usr/bin/docker stop gogs
ExecStopPost=/usr/bin/docker rm gogs

[Install]
WantedBy=multi-user.target
